Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

chore: update dependencies
  package-lock.json
  package.json
Due: none

Chore: add release workflow
  .github/workflows/release.yml
Due: none

Chore: add company tracking for deployments
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Chore: add nightly vulnerability scan
  .github/workflows/vulnerability-scan.yml
Due: none

Chore: allow manual workflow triggers
  .github/workflows/vulnerability-scan.yml
Due: none

Fix: remove wrongly named security category
  .github/workflows/vulnerability-scan.yml
Due: none

CI: remove upload to GitHub security tab
  .github/workflows/vulnerability-scan.yml
Due: none

CI: fix step to check vulnerability result
  .github/workflows/vulnerability-scan.yml
Due: none

Fix: update dependencies to fix vulnerabilities
  package-lock.json
  package.json
Due: none

Chore: use strict engines settings
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .prettierignore
  package-lock.json
  package.json
Due: none

CI: fix node setup step configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Chore: remove obsolete NVM runtime configuration
  .nvmrc
Due: none

Feat: adapt income limits due to law changes
  src/components/molecules/info-dialog/infoTexts.ts
  src/globals/js/calculations/model/egr-berechnung-param-id.ts
Due: lint

Feat: improve hint text for income limit
  src/components/molecules/info-dialog/infoTexts.ts
Due: lint

Feat: establish limit of simultaneous BEG months
  src/monatsplaner/configuration.ts
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Feat: hide BEG months in planner that are not selectable
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Feat: extend settings for elternteile
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
  src/components/pages/NachwuchsPage.spec.tsx
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
  src/globals/js/elternteile-utils.ts
  src/monatsplaner/elternteile/elternteile-setting.spec.ts
  src/monatsplaner/elternteile/elternteile-setting.ts
  src/monatsplaner/elternteile/elternteile.spec.ts
  src/monatsplaner/validation/validation.spec.ts
  src/redux/monatsplanerSlice.ts
Due: lint

Feat: handle exceptions for simultaneous BEG months in planner
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Feat: show notification after first simultaneous BEG month
  src/components/atoms/notification/NotificationMaxSimultaneousBEGMonths.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Test: improve critical change month tests
  src/monatsplaner/elternteile/change-month.spec.ts
Due: lint

Feat: fix simultaneous BEG month rules
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Feat: improve notification message
  src/components/atoms/notification/NotificationMaxSimultaneousBEGMonths.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
Due: lint

Chore: fix dependency issues
  package-lock.json
  package.json
Due: none

Chore: improve texts due to new law changes
  src/components/atoms/notification/NotificationBEGHintMinMax.tsx
  src/components/molecules/info-dialog/infoTexts.ts
  src/components/organisms/page/Page.tsx
  src/components/organisms/rechner/RechnerCardHeaderBEG.tsx
Due: lint

Fix: adapt expected notification in tests
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
Due: lint

Chore: improve texts due to new law changes
  src/components/molecules/info-dialog/infoTexts.ts
Due: lint

Fix: show simultaneous BEG warning only once
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

CI: improve release assets building
  .github/workflows/release.yml
Due: none

Chore: improve audit license script output
  package.json
Due: none

Refactor: add default option into CustomSelect
  src/components/molecules/custom-select/CustomSelect.tsx
  src/components/organisms/einkommen-form/SteuerUndVersicherung.spec.tsx
  src/components/organisms/einkommen-form/SteuerUndVersicherung.tsx
  src/components/organisms/einkommen-form/Taetigkeit.tsx
  src/components/organisms/zeitraum/Zeitraum.tsx
Due: lint

Fix: fixed months for financial inputs
  src/components/organisms/einkommen-form/EinkommenFormElternteil.tsx
  src/components/organisms/einkommen-form/NurErwerbstaetig.spec.tsx
  src/components/organisms/einkommen-form/SelbstaendigAndErwerbstaetig.spec.tsx
  src/components/organisms/einkommen-form/Taetigkeit.tsx
  src/components/pages/EinkommenPage.spec.tsx
  src/redux/finanzDatenFactory.spec.ts
  src/redux/finanzDatenFactory.ts
  src/redux/stepNachwuchsSlice.ts
Due: lint

Feat: add further hints for assessment period
  src/components/organisms/einkommen-form/NurErwerbstaetig.tsx
  src/components/organisms/einkommen-form/einkommen-form.scss
  src/globals/scss/typo/typo.scss
Due: lint, stylelint

Chore: fix vulnerability of dev dependency
  package-lock.json
  package.json
Due: none

Build: tweak Lefthook setup
  lefthook.yml
Due: none

Build: make Lefthook output less noisy
  lefthook.yml
Due: none

Build: remove unnecessary permission for CI workflow
  .github/workflows/ci.yml
Due: none

Build: move dependency to expected group
  package-lock.json
  package.json
Due: none

Build: make license audit script more portable
  package.json
Due: none

Revert "Build: remove unnecessary permission for CI workflow"
  .github/workflows/ci.yml
Due: none

Build: automate GitHub actions updates via Dependabot
  .github/dependabot.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
