Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

CI: update all deprecated GH actions in one pass
  .github/workflows/ci.yml
Due: none

CI: use `npm ci` command
  .github/workflows/ci.yml
Due: none

CI: use `npm ci` in release workflow accordingly
  .github/workflows/release.yml
Due: none

CI: add npm caching
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

CI: reference 3rd party actions by commit sha
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

CI: fix GitHub Actions workflow reference
  .github/workflows/ci.yml
Due: none

Chore: remove obsolete dependency
  package-lock.json
  package.json
Due: none

Style: remove custom reboot styling
  src/components/atoms/foot-note-number/foot-note-number.scss
  src/components/atoms/monatsplaner-month/monatsplaner-month.scss
  src/components/atoms/question-answer/QuestionAnswer.tsx
  src/components/atoms/question-answer/question-answer.scss
  src/components/molecules/zusammenfassung-und-daten-elternteil/zusammenfassung-und-daten-elternteil.scss
  src/components/organisms/rechner/RechnerCardHeaderBEG.tsx
  src/components/organisms/rechner/RechnerCardHeaderEGPlus.tsx
  src/components/organisms/rechner/rechner.scss
  src/components/organisms/sidebar/sidebar.scss
  src/globals/scss/index.scss
  src/globals/scss/reboot/index.scss
Due: lint, stylelint

Style: remove Bootstrap reboot styling
  src/components/atoms/foot-note-number/foot-note-number.scss
  src/components/molecules/zusammenfassung-und-daten-elternteil/zusammenfassung-und-daten-elternteil.scss
  src/components/organisms/rechner/rechner.scss
  src/components/organisms/sidebar/sidebar.scss
  src/globals/scss/bootstrap/bootstrap.scss
  src/globals/scss/typo/typo.scss
Due: stylelint

Style: get rid of remaining Bootstrap parts
  package-lock.json
  package.json
  public/index.css
  src/applications/index.scss
  src/components/molecules/rechner-result-table/rechner-result-table.scss
  src/components/organisms/einkommen-form/einkommen-form.scss
  src/globals/scss/bootstrap/bootstrap.components.scss
  src/globals/scss/bootstrap/bootstrap.scss
  src/globals/scss/bootstrap/bootstrap.variables.scss
  src/globals/scss/bootstrap/index.scss
  src/globals/scss/typo/typo.scss
Due: stylelint

Style: inline hide-on-desktop utility
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/molecules/elternteil/elternteil.scss
  src/components/molecules/rechner-result-table/RechnerResultTable.tsx
  src/components/molecules/rechner-result-table/rechner-result-table.scss
  src/globals/scss/index.scss
  src/globals/scss/mixins/index.scss
  src/globals/scss/utils/index.scss
Due: lint, stylelint

Style: avoid wrapping of required asterisk
  src/components/molecules/form-field-group/FormFieldGroup.tsx
Due: lint

Style: take fonts from angie package
  package-lock.json
  package.json
  src/components/atoms/label-counter/label-counter.scss
  src/components/atoms/visual-counter/visual-counter.scss
  src/components/molecules/alert/alert.scss
  src/globals/fonts/BundesSansWeb-Bold.ttf
  src/globals/fonts/BundesSansWeb-Bold.woff
  src/globals/fonts/BundesSansWeb-Italic.ttf
  src/globals/fonts/BundesSansWeb-Italic.woff
  src/globals/fonts/BundesSansWeb-Regular.ttf
  src/globals/fonts/BundesSansWeb-Regular.woff
  src/globals/fonts/BundesSerifWeb-Bold.ttf
  src/globals/fonts/BundesSerifWeb-Bold.woff
  src/globals/fonts/BundesSerifWeb-Italic.ttf
  src/globals/fonts/BundesSerifWeb-Italic.woff
  src/globals/fonts/BundesSerifWeb-Regular.ttf
  src/globals/fonts/BundesSerifWeb-Regular.woff
  src/globals/scss/fonts/fonts.scss
  src/globals/scss/fonts/fonts.variables.scss
  src/globals/scss/fonts/index.scss
  src/globals/scss/functions/rem.scss
  src/globals/scss/typo/typo.scss
  src/globals/scss/typo/typo.variables.scss
  src/globals/scss/variables/variables.scss
Due: stylelint

Style: inline base/root font-size
  src/components/molecules/alert/alert.scss
  src/globals/scss/functions/rem.scss
  src/globals/scss/typo/typo.scss
  src/globals/scss/variables/variables.scss
Due: stylelint

Style: flatten some style directories
  src/globals/scss/typo.scss
  src/globals/scss/typo/index.scss
  src/globals/scss/variables.scss
  src/globals/scss/variables/index.scss
Due: stylelint

Style: initial setup of TailwindCSS
  .eslintrc
  .stylelintrc
  package-lock.json
  package.json
  src/applications/App.tsx
  src/applications/index.css
  tailwind.config.js
Due: lint

Style: replace screen reader utility
  src/applications/index.scss
  src/components/organisms/zeitraum/Zeitraum.tsx
  src/globals/scss/index.scss
  src/globals/scss/sr-only/index.scss
  src/globals/scss/sr-only/sr-only.mixins.scss
  src/globals/scss/sr-only/sr-only.scss
Due: lint, stylelint

Feat: split Elterngeldvarianten explanation cards
  src/components/organisms/rechner/Rechner.tsx
  src/components/organisms/rechner/RechnerCardHeaderEGPlus.tsx
  src/components/organisms/rechner/RechnerCardHeaderPSB.tsx
  src/components/organisms/rechner/rechner.scss
Due: lint, stylelint

Style: improve color contrast for a11y
  src/globals/scss/variables.scss
  tailwind.config.js
Due: lint, stylelint

Feat: remove tertiary color definition
  src/components/atoms/button/Button.tsx
  src/components/atoms/button/button.scss
  src/components/atoms/button/button.variables.scss
  src/globals/scss/variables.scss
  tailwind.config.js
Due: lint, stylelint

Chore: add material design icons
  package-lock.json
  package.json
Due: none

Feat: add new Elterngeldvarianten description
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/index.ts
  tailwind.config.js
Due: lint

Feat: exchange Elterngeldvarianten descriptions
  src/components/organisms/rechner/Rechner.tsx
  src/components/organisms/rechner/RechnerCardHeaderBEG.tsx
  src/components/organisms/rechner/RechnerCardHeaderEGPlus.tsx
  src/components/organisms/rechner/RechnerCardHeaderPSB.tsx
  src/components/organisms/rechner/rechner.scss
Due: lint, stylelint

Feat: extract Elterngeldvarianten as own page
  src/applications/App.tsx
  src/applications/index.css
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/rechner/Rechner.tsx
  src/components/pages/EinkommenPage.tsx
  src/components/pages/ElterngeldvariantenPage.spec.tsx
  src/components/pages/ElterngeldvariantenPage.tsx
  src/utils/formSteps.ts
Due: lint

Feat: make spinner component positioned absolute
  src/components/atoms/spinner/spinner.scss
  src/components/atoms/spinner/spinner.variables.scss
  src/components/organisms/page/Page.tsx
Due: lint, stylelint

Fix: misaligned button content
  src/components/atoms/button/button.scss
Due: stylelint

Feat: add payout amounts for variant descriptions
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  src/components/organisms/elterngeldvarianten/types.ts
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.ts
  src/components/pages/ElterngeldvariantenPage.spec.tsx
  src/redux/hooks.ts
  src/redux/index.ts
  src/redux/stepRechnerSlice.ts
Due: lint

Style: add scale for font sizes
  tailwind.config.js
Due: lint

Style: move TailwindCSS loading to separate file
  src/applications/App.tsx
  src/styles/tailwind.css
Due: lint

Style: add missing base line height
  src/globals/scss/typo.scss
Due: stylelint

Style: migrate typo styling using theme
  .stylelintrc
  src/applications/App.tsx
  src/globals/scss/index.scss
  src/globals/scss/typo.scss
  src/styles/typo.css
  tailwind.config.js
Due: lint, stylelint

Fix: remove unintended color references
  src/components/molecules/foot-note/foot-note.scss
  src/components/organisms/sidebar/sidebar.scss
  src/components/organisms/sidebar/sidebar.variables.scss
Due: stylelint

Fix: padding of list element
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
Due: lint

Style: resolve padding function and shim down
  src/components/molecules/custom-date/custom-date.scss
  src/components/molecules/custom-date/custom-date.variables.scss
  src/components/molecules/custom-input/custom-input.scss
  src/components/molecules/custom-input/custom-input.variables.scss
  src/globals/scss/functions.scss
  src/globals/scss/functions/index.scss
  src/globals/scss/functions/nsp.scss
  src/globals/scss/functions/padding-on-focus.scss
Due: stylelint

Feat: split plus and bonus in calculation tables
  src/components/molecules/rechner-result-table/RechnerResultTable.tsx
  src/components/molecules/rechner-result-table/rechner-result-table.scss
  src/components/molecules/rechner-result/RechnerResult.spec.tsx
  src/components/molecules/rechner-result/RechnerResult.tsx
  src/components/molecules/rechner-result/rechner-result.scss
Due: lint, stylelint

Fix: usage of fonts in preview build
  build-preview
Due: none

Feat: remove month names on planner table
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/molecules/elternteil/elternteil.scss
Due: lint, stylelint

Style: change colors for variants and adapt
  src/components/atoms/monatsplaner-month/monatsplaner-month.scss
  src/components/atoms/monatsplaner-month/monatsplaner-month.variables.scss
  src/components/molecules/elternteil/elternteil.scss
  src/components/molecules/rechner-result-table/RechnerResultTable.tsx
  src/components/molecules/rechner-result-table/rechner-result-table.scss
  src/components/molecules/remaining-month/remaining-month.scss
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/globals/scss/variables.scss
  tailwind.config.js
Due: lint, stylelint

Feat: improve allowance variant descriptions
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
Due: lint

Fix: tests due to new currency formatting
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
