Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

Fix: summation footer wrapping after theme change
  src/components/organisms/monatsplaner/SummationFooter.tsx
Due: lint

Style: extend SVG axioms for integration into text
  src/components/atoms/button/Button.tsx
  src/components/atoms/button/button.scss
  src/components/molecules/counter/Counter.tsx
  src/components/molecules/counter/counter.scss
  src/components/molecules/info-dialog/InfoDialog.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  src/components/organisms/monatsplaner/ParentSummation.tsx
  src/styles/axioms.css
Due: lint, stylelint

Chore: remove hidden button property
  src/components/atoms/button/Button.tsx
  src/components/organisms/nachwuchs-form/NachwuchsForm.tsx
Due: lint

Chore: finish migration to material icons
  src/components/atoms/icon/Icon.tsx
  src/components/atoms/icon/Icons.tsx
  src/components/atoms/icon/index.ts
  src/components/atoms/index.ts
  src/components/molecules/counter/Counter.tsx
  src/components/molecules/info-dialog/InfoDialog.tsx
  src/components/molecules/rechner-form/RechnerForm.tsx
  src/components/molecules/rechner-result/RechnerResult.tsx
  src/components/organisms/einkommen-form/Taetigkeit.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/nachwuchs-form/NachwuchsForm.tsx
  src/components/organisms/sidebar/Sidebar.tsx
Due: lint

Chore: tidy up linting configuration
  .eslintrc
  src/components/atoms/aria-message/AriaLogProvider.tsx
  src/components/atoms/button/Button.tsx
  src/components/atoms/description/Description.tsx
  src/components/atoms/paragraph/Paragraph.tsx
  src/components/atoms/split-item/SplitItem.tsx
  src/components/molecules/foot-note/FootNote.tsx
  src/components/molecules/split/Split.tsx
  src/components/organisms/page/Page.tsx
  src/test-utils/test-utils.tsx
Due: lint

Test: fix path alias for tests import resolution
  craco.config.js
  package-lock.json
  package.json
Due: lint

Fix: building with path aliases
  craco.config.js
  package.json
Due: lint

Feat: enable partner months conditionally
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/globals/js/elternteile-utils.ts
  src/monatsplaner/elternteile/change-month.ts
  src/monatsplaner/elternteile/elternteile-setting.ts
  src/monatsplaner/elternteile/elternteile.spec.ts
  src/monatsplaner/elternteile/elternteile.ts
  src/redux/monatsplanerSlice.ts
Due: lint

Chore: remove obsolete formatting configuration
  .prettierrc
Due: none

Feat: add user tracking setup
  src/index.tsx
  src/user-tracking/cookies.ts
  src/user-tracking/data-layer.ts
  src/user-tracking/index.spec.ts
  src/user-tracking/index.ts
  src/user-tracking/tag-manager.ts
Due: lint

CI: set tag manager source for build by secret
  .github/workflows/ci.yml
Due: none

Revert "Feat: enable partner months conditionally"
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/globals/js/elternteile-utils.ts
  src/monatsplaner/elternteile/change-month.ts
  src/monatsplaner/elternteile/elternteile-setting.ts
  src/monatsplaner/elternteile/elternteile.spec.ts
  src/monatsplaner/elternteile/elternteile.ts
  src/redux/monatsplanerSlice.ts
Due: lint

Chore: remove console usage
  src/user-tracking/cookies.ts
  src/user-tracking/index.ts
Due: lint

Feat: enforce correct usage of partner months
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/globals/js/elternteile-utils.ts
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
  src/monatsplaner/elternteile/elternteile-setting.ts
  src/monatsplaner/validation/validation.spec.ts
  src/redux/monatsplanerSlice.ts
Due: lint

Feat: include EG+ into partner month limits
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Chore: add markers for tag manger tracking
  src/components/organisms/nachwuchs-form/NachwuchsForm.tsx
  src/components/organisms/page/Page.tsx
Due: lint

CI: exclude Familienportal's css from sonar analysis
  .prettierignore
  sonar-project.properties
Due: none

CI: fix wrong config file name
  .prettierignore
  .sonarcloud.properties
  sonar-project.properties
Due: none

Fix: broken submit button
  src/components/molecules/button-group/ButtonGroup.tsx
Due: lint

Fix: not relevant security hotspot
  src/user-tracking/index.spec.ts
Due: lint

Fix: remove needless random keys
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
Due: lint

Chore: replace object assigns with spreading
  src/redux/finanzDatenFactory.spec.ts
Due: lint

Chore: add initial value for reduce call
  src/redux/finanzDatenFactory.ts
Due: lint

Feat: add algorithm for partnerschaftlichkeit
  src/monatsplaner/elternteile/partnerschaftlichkeit.spec.ts
  src/monatsplaner/elternteile/partnerschaftlichkeit.ts
Due: lint

Feat: add hook for partnerschaftlichkeit quotient
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.spec.tsx
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.ts
  src/test-utils/test-utils.tsx
  src/user-tracking/data-layer.ts
  src/user-tracking/index.ts
Due: lint

Feat: integrate partnerschaftlichkeit into planner
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Feat: partnerschaftlichkeit for single parents
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.ts
  src/monatsplaner/elternteile/partnerschaftlichkeit.spec.ts
  src/monatsplaner/elternteile/partnerschaftlichkeit.ts
  src/user-tracking/data-layer.ts
Due: lint

Fix: add missing tests for last commit
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.spec.tsx
Due: lint

Chore: use plain CSS for details toggle icon
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
Due: lint

Feat: add tracking for 'nutzergruppe' metric
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.ts
  src/components/organisms/nachwuchs-form/NachwuchsForm.tsx
  src/user-tracking/index.ts
  src/user-tracking/nutzergruppe.spec.ts
  src/user-tracking/nutzergruppe.ts
  src/utils/locale-formatting.ts
Due: lint

Chore: keep tracking related topic better together
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.spec.tsx
  src/components/organisms/monatsplaner/usePartnerschaftlicheVerteilungTracking.ts
  src/user-tracking/index.ts
  src/user-tracking/partnerschaftlichkeit.spec.ts
  src/user-tracking/partnerschaftlichkeit.ts
Due: lint

Chore: add index document for redirection
  index.html
Due: none

Build: add Playwright e2e testing
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  playwright.config.ts
  tests/styles.spec.ts
  tsconfig.json
Due: lint

Test: add golden expectations
  .prettierignore
  tests/styles.spec.ts-snapshots/styles-1-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-1-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-1-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-1-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-2-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-2-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-2-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-2-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-3-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-3-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-3-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-3-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-4-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-4-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-4-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-4-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-5-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-5-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-5-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-5-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-6-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-6-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-6-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-6-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-7-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-7-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-7-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-7-webkit-linux.png
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
