Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

---
skip_output:
  - meta # Skips lefthook version printing
  - empty_summary # Skips summary heading when there are no steps to run
  - execution # Skips printing any execution logs (but prints if the execution failed)
  - execution_out # Skips printing execution output (but still prints failed commands output)
  - skips # Skips "skip" printing (i.e. no files matched)
pre-commit:
  parallel: true
  commands:
    format:
      run: npx prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint {staged_files}
    type-check:
      run: npm run type-check
    audit-licenses:
      run: npm run audit-licenses
    unused-code:
      run: npm run knip

Build: tweak playwright config
  playwright.config.ts
  tests/styles.spec.ts
Due: lint

Chore: cleanup old reference shots
  tests/styles.spec.ts-snapshots/styles-1-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-1-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-1-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-1-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-2-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-2-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-2-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-2-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-3-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-3-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-3-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-3-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-4-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-4-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-4-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-4-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-5-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-5-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-5-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-5-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-6-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-6-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-6-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-6-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-7-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-7-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-7-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-7-webkit-linux.png
Due: none

Test: update styles testing to include more viewports
  playwright.config.ts
  tests/styles.spec.ts
Due: lint

Refactor: use px-to-rem consistently
  src/components/atoms/spinner/spinner.variables.scss
  src/components/atoms/toast/toast.scss
  src/components/organisms/einkommen-form/einkommen-form.scss
Due: stylelint

Fix: sass function is not called creating invalid css
  src/components/atoms/paragraph/paragraph.variables.scss
  src/components/organisms/allgemeine-angaben-form/allgemeine-angaben-form.variables.scss
Due: stylelint

Build: don't diff png images
  .gitattributes
  .prettierignore
Due: none

Test: add new reference shots
  tests/styles.spec.ts-snapshots/page1desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7tablet-chromium-linux.png
Due: none

Test: update reference shots
  tests/styles.spec.ts-snapshots/page1desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7tablet-chromium-linux.png
Due: none

Fix: scope egr styles to #egr-root only, no leaking to the parent site
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  src/components/molecules/form-field-group/FormFieldGroup.tsx
  src/components/molecules/zusammenfassung-und-daten-elternteil/ZusammenfassungUndDatenElternteil.tsx
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/organisms/einkommen-form/EinkommenForm.tsx
  src/components/organisms/einkommen-form/EinkommenFormElternteil.tsx
  src/components/organisms/einkommen-form/NurErwerbstaetig.tsx
  src/components/organisms/erwerbstaetigkeit-form/ErwerbstaetigkeitForm.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/nachwuchs-form/NachwuchsForm.tsx
  src/components/organisms/rechner/Rechner.tsx
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/components/pages/RechnerPlanerPage.tsx
  src/globals/scss/functions.scss
  src/styles/axioms.css
  src/styles/tailwind.css
  src/styles/typo.css
  tailwind.config.js
Due: lint, stylelint

Chore: cleanup playwright config
  playwright.config.ts
Due: lint

Refactor: replace Paragraph component with plain p tags
  src/components/atoms/aria-message/AriaLogProvider.tsx
  src/components/atoms/index.scss
  src/components/atoms/index.ts
  src/components/atoms/paragraph/Paragraph.tsx
  src/components/atoms/paragraph/index.scss
  src/components/atoms/paragraph/index.ts
  src/components/atoms/paragraph/paragraph.scss
  src/components/atoms/paragraph/paragraph.variables.scss
  src/components/molecules/access-control/AccessControl.tsx
  src/components/molecules/form-field-group/FormFieldGroup.tsx
  src/components/molecules/rechner-result/RechnerResult.tsx
  src/components/organisms/einkommen-form/EinkommenFormElternteil.tsx
  src/components/organisms/einkommen-form/NurErwerbstaetig.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
Due: lint, stylelint

Test: update reference shots
  tests/styles.spec.ts-snapshots/page1desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7desktop-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7tablet-chromium-linux.png
Due: none

Chore: add clarifying comment
  tests/styles.spec.ts
Due: lint

Revert: "Build: don't diff png images"
  .gitattributes
  .prettierignore
Due: none

Build: add Playwright e2e testing
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  playwright.config.ts
  tests/styles.spec.ts
  tsconfig.json
Due: lint

Test: add golden expectations
  .prettierignore
  tests/styles.spec.ts-snapshots/styles-1-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-1-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-1-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-1-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-2-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-2-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-2-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-2-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-3-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-3-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-3-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-3-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-4-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-4-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-4-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-4-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-5-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-5-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-5-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-5-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-6-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-6-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-6-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-6-webkit-linux.png
  tests/styles.spec.ts-snapshots/styles-7-chromium-linux.png
  tests/styles.spec.ts-snapshots/styles-7-firefox-linux.png
  tests/styles.spec.ts-snapshots/styles-7-iphone-linux.png
  tests/styles.spec.ts-snapshots/styles-7-webkit-linux.png
Due: none

Fix: redirect to main path
  index.html
Due: none

CI: add custom action to deploy on GitHub pages
  .github/actions/deploy-to-github-pages/action.yaml
Due: none

CI: use new custom action for deployment
  .github/workflows/ci.yml
Due: none

CI: fix deployment to GitHub pages
  .github/actions/deploy-to-github-pages/action.yaml
Due: none

CI: fix fetching during deployment
  .github/actions/deploy-to-github-pages/action.yaml
  .github/workflows/ci.yml
Due: none

Fix: page numbering, Elterngeldvarianten is showing 1/6
  src/components/organisms/sidebar/Sidebar.tsx
  tests/styles.spec.ts-snapshots/page1mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page1tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page2tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page3tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page4tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page5tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page6tablet-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7mobile-chromium-linux.png
  tests/styles.spec.ts-snapshots/page7tablet-chromium-linux.png
Due: lint

Refactor(Sidebar): get step label from fromSteps object
  src/components/organisms/sidebar/Sidebar.tsx
Due: lint

CI: fix permissions for git push on deployment
  .github/actions/deploy-to-github-pages/action.yaml
Due: none

Feat: add examples to Elterngeld variant descriptions
  src/applications/App.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/Example.tsx
  src/styles/themes.css
Due: lint
