Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: npx prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint {staged_files}
    type-check:
      run: npm run type-check

Fix: build of preview
  build-preview
Due: none

Fix: payout amount calculation for maternity case
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.ts
Due: lint

Feat: various minor visual improvements
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  src/components/organisms/monatsplaner/monatsplaner.scss
  src/components/pages/ElterngeldvariantenPage.spec.tsx
  src/components/pages/ElterngeldvariantenPage.tsx
  src/components/pages/RechnerPlanerPage.tsx
Due: lint, stylelint

Feat: variant descriptions for single applicant
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
Due: lint

Test: improve testing with locale formatting
  .env.test
  .prettierignore
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
Due: lint

Test: improve testing with hooks using the store
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/test-utils/test-utils.tsx
Due: lint

Feat: add visual components for month plan summary
  src/components/organisms/monatsplaner/ParentSummation.tsx
  src/components/organisms/monatsplaner/SummationFooter.spec.tsx
  src/components/organisms/monatsplaner/SummationFooter.tsx
  src/components/organisms/monatsplaner/types.ts
Due: lint

Feat: add hook to calculate month plan summary
  src/components/organisms/monatsplaner/useSummarizeData.spec.tsx
  src/components/organisms/monatsplaner/useSummarizeData.ts
  src/redux/hooks.ts
Due: lint

Feat: integration footer into month planner
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

CI: source test environment file
  .github/workflows/ci.yml
Due: none

Chore: extract currency formatting
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  src/components/organisms/monatsplaner/ParentSummation.tsx
  src/utils/locale-formatting.ts
Due: lint

Feat: adopt design changes in summation footer
  src/components/organisms/monatsplaner/ParentSummation.tsx
  src/components/organisms/monatsplaner/SummationFooter.spec.tsx
  src/components/organisms/monatsplaner/SummationFooter.tsx
Due: lint

Style: add and apply font size 14
  src/components/organisms/monatsplaner/SummationFooter.tsx
  tailwind.config.js
Due: lint

Chore: further use of list vs. ET1;ET2
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.spec.tsx
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  src/components/organisms/elterngeldvarianten/types.ts
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.ts
Due: lint

Chore: add license auditing as pre-commit hook
  lefthook.yml
Due: none

CI: separate license auditing
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

Chore: remove Knip temporarily due to license
  knip.ts
  lefthook.yml
  package-lock.json
  package.json
Due: lint

Feat: change label for download/printing
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Feat: rename single applicant label and value
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.ts
  src/components/organisms/erwerbstaetigkeit-form/ErwerbstaetigkeitForm.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/useSummarizeData.spec.tsx
  src/components/organisms/monatsplaner/useSummarizeData.ts
  src/components/organisms/rechner/Rechner.spec.tsx
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
  src/components/pages/EinkommenPage.spec.tsx
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
  src/redux/monatsplanerSlice.ts
  src/redux/stepAllgemeineAngabenSlice.ts
  src/redux/stepRechnerSlice.ts
Due: lint

Feat: improve labeling in form elements
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
Due: lint

Feat: consistently name the application correctly
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
Due: lint

Feat: remove reset feature
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/monatsplaner/monatsplaner.scss
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/redux/monatsplanerSlice.ts
  src/redux/resetStoreAction.ts
  src/redux/stepAllgemeineAngabenSlice.ts
  src/redux/stepEinkommenSlice.ts
  src/redux/stepErwerbstaetigkeitSlice.ts
  src/redux/stepNachwuchsSlice.ts
  src/redux/stepRechnerSlice.ts
Due: lint, stylelint

Style: remove widths and heights from theme
  src/components/organisms/elterngeldvarianten/PayoutInformation.tsx
  tailwind.config.js
Due: lint

Feat: add repeat planning to planner
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/redux/monatsplanerSlice.ts
Due: lint

Style: further adapt repeat and download design
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/components/organisms/monatsplaner/monatsplaner.scss
Due: lint, stylelint

Feat: improve download button naming
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Feat: add scrolling on repeat planning
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Test: scrolling on repeat planning
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/setupTests.ts
Due: lint

Fix: gramma of single applicant naming
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.spec.tsx
  src/components/organisms/elterngeldvarianten/usePayoutAmounts.ts
  src/components/organisms/erwerbstaetigkeit-form/ErwerbstaetigkeitForm.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/useSummarizeData.spec.tsx
  src/components/organisms/monatsplaner/useSummarizeData.ts
  src/components/organisms/rechner/Rechner.spec.tsx
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
  src/components/pages/EinkommenPage.spec.tsx
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
  src/redux/monatsplanerSlice.ts
  src/redux/stepAllgemeineAngabenSlice.ts
  src/redux/stepRechnerSlice.ts
Due: lint

Feat: add new designed planning contingent
  src/components/molecules/planning-contingent/BoxGraph.tsx
  src/components/molecules/planning-contingent/PlanningContingent.spec.tsx
  src/components/molecules/planning-contingent/PlanningContingent.tsx
  src/components/molecules/planning-contingent/VariantLabel.tsx
  src/components/molecules/planning-contingent/index.ts
  src/components/molecules/planning-contingent/types.ts
  tailwind.config.js
Due: lint

Feat: add hook to gather planning contingent data
  src/components/organisms/monatsplaner/usePlanningContingentMonths.spec.tsx
  src/components/organisms/monatsplaner/usePlanningContingentMonths.ts
Due: lint

Feat: replace contingent with new design
  src/components/molecules/index.scss
  src/components/molecules/index.ts
  src/components/molecules/remaining-month/RemainingMonths.tsx
  src/components/molecules/remaining-month/index.scss
  src/components/molecules/remaining-month/index.ts
  src/components/molecules/remaining-month/remaining-month.scss
  src/components/molecules/remaining-month/remaining-month.variables.scss
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint, stylelint

Style: shim down spacing in theme
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/monatsplaner/ParentSummation.tsx
  src/components/organisms/monatsplaner/SummationFooter.tsx
  tailwind.config.js
Due: lint

Chore: remove planning contingent from print
  src/components/molecules/planning-contingent/PlanningContingent.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Style: introduce axioms style-sheet
  src/applications/App.tsx
  src/styles/axioms.css
Due: lint

Fix: preloaded state income periods
  src/redux/preloadedState.ts
Due: lint

Feat: smooth scrolling on repeat planning
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Feat: add focus shift on repeat planning
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Style: add axiom for SVGs to fill with font
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
  src/styles/axioms.css
Due: lint
