Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

Upgrade big.js
  package-lock.json
  package.json
  src/globals/js/calculations/model/egr-berechnung-param-id.ts
Due: lint

Upgrade classnames
  package-lock.json
  package.json
Due: none

Upgrade luxon
  package-lock.json
  package.json
  src/globals/js/elternteile-utils.ts
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/elternteile-setting.spec.ts
  src/monatsplaner/elternteile/elternteile.spec.ts
  src/monatsplaner/lebensmonate/lebensmonate.ts
  src/monatsplaner/validation/validation.spec.ts
Due: lint

Upgrade @types/node
  package-lock.json
  package.json
  src/globals/js/calculations/egr-calculation.spec.ts
Due: lint

Upgrade react
  package-lock.json
  package.json
  src/components/atoms/aria-message/AriaLogProvider.tsx
  src/components/atoms/description/Description.tsx
  src/components/atoms/monatsplaner-month/MonatsplanerMonth.tsx
  src/components/atoms/paragraph/Paragraph.tsx
  src/components/atoms/split-item/SplitItem.tsx
  src/components/molecules/foot-note/FootNote.tsx
  src/components/molecules/form-field-group/FormFieldGroup.tsx
  src/components/molecules/split/Split.tsx
  src/components/organisms/page/Page.tsx
  src/redux/stepRechnerSlice.spec.ts
  src/test-utils/test-utils.tsx
Due: lint

Partly upgrade react-router-dom
  package-lock.json
  package.json
Due: none

Partly upgrade react-imask
  package-lock.json
  package.json
Due: none

Partly upgrade react-hook-form
  package-lock.json
  package.json
Due: none

Partly upgrade typescript
  package-lock.json
  package.json
Due: none

Add Alert component
  src/components/atoms/icon/Icons.tsx
  src/components/molecules/alert/Alert.spec.tsx
  src/components/molecules/alert/Alert.tsx
  src/components/molecules/alert/alert.scss
  src/components/molecules/alert/alert.variables.scss
  src/components/molecules/alert/index.scss
  src/components/molecules/alert/index.ts
  src/components/molecules/index.scss
  src/components/molecules/index.ts
  src/components/organisms/page/Page.tsx
Due: lint, stylelint

Fix CI build
  src/components/organisms/page/Page.tsx
Due: lint

Adapt app root render call to React 18
  src/index.tsx
Due: lint

Add missing fields to preloaded state
  src/index.tsx
  src/redux/preloadedState.ts
Due: lint

Fix missing font files in development preview
  .prettierignore
  public/bundessansweb-bold-ttf-data.ttf
  public/bundessansweb-bold-woff-data.woff
  public/bundessansweb-italic-ttf-data.ttf
  public/bundessansweb-italic-woff-data.woff
  public/bundessansweb-regular-ttf-data.ttf
  public/bundessansweb-regular-woff-data.woff
  public/bundesserifweb-bold-ttf-data.ttf
  public/bundesserifweb-bold-woff-data.woff
  public/bundesserifweb-italic-ttf-data.ttf
  public/bundesserifweb-italic-woff-data.woff
  public/bundesserifweb-regular-ttf-data.ttf
  public/bundesserifweb-regular-woff-data.woff
  public/fpoicon-ttf-data.ttf
  public/fpoicon-woff-data.woff
Due: none

Finalize alerts regarding law change in April
  src/components/molecules/alert/Alert.spec.tsx
  src/components/molecules/alert/Alert.tsx
  src/components/molecules/alert/alert.scss
  src/components/organisms/page/Page.tsx
  src/components/organisms/rechner/RechnerCardHeaderBEG.tsx
Due: lint, stylelint

Update dependencies
  package-lock.json
  package.json
Due: none

Fix not scrolling to top when navigating
  src/components/organisms/page/Page.tsx
Due: lint

Fix buttons too close on each other on the summary page
  src/components/molecules/zusammenfassung-und-daten-elternteil/zusammenfassung-und-daten-elternteil.scss
Due: stylelint

Fix undefined window.scrollTo in tests
  src/setupTests.ts
Due: lint

Fix partnerMonate condition
  src/redux/monatsplanerSlice.ts
Due: lint

Fix: changing PSB months when none are enabled
  src/monatsplaner/elternteile/change-month.spec.ts
  src/monatsplaner/elternteile/change-month.ts
Due: lint

Fix: number of available partner bonus months for single applicant
  src/monatsplaner/elternteile/elternteile.ts
Due: lint

Feat: hide bonus months in planner if none are available
  src/components/atoms/visual-counter/VisualCounter.tsx
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/molecules/remaining-month/RemainingMonths.tsx
Due: lint

Fix: update link to BMFSFJ faqs
  src/components/organisms/page/Page.tsx
  src/components/organisms/rechner/RechnerCardHeaderBEG.tsx
Due: lint

Fix: automate Mutterschaftsleistung receiver for single applicant
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
  src/redux/monatsplanerSlice.ts
Due: lint

Fix: counter button icon alignment
  src/components/molecules/counter/counter.scss
Due: stylelint

Feat: test environment warning
  .prettierignore
  build-preview
Due: none

Fix: center position of pop-up modal
  src/components/organisms/modal-popup/modal-popup.scss
Due: stylelint

Chore: cleanup old comment
  src/redux/monatsplanerSlice.ts
Due: lint

Feat: Allow Kinderfreibetrag = 0 in the UI
  src/components/organisms/einkommen-form/SteuerUndVersicherung.tsx
Due: lint

Feat: slightly improve print version of monatsplaner
  README.md
  build-preview
  src/components/atoms/monatsplaner-month/monatsplaner-month.scss
  src/components/organisms/monatsplaner/monatsplaner.scss
Due: stylelint

Chore: update dependencies
  package-lock.json
  package.json
Due: none

Chore: major update of react-imask dependency
  package-lock.json
  package.json
Due: none

Feat: use better date auto fixing
  src/components/molecules/custom-date/CustomDate.tsx
Due: lint

Chore: major dependency version update for TypeScript
  package-lock.json
  package.json
  src/components/organisms/einkommen-form/Taetigkeit.tsx
Due: lint

Chore: update react-hook-form dependency
  package-lock.json
  package.json
  src/components/organisms/zeitraum/Zeitraum.tsx
Due: lint

Chore: update react-router-dom dependency
  package-lock.json
  package.json
  src/components/organisms/einkommen-form/NurErwerbstaetig.spec.tsx
  src/components/organisms/einkommen-form/NurSelbstaendig.spec.tsx
  src/components/organisms/einkommen-form/SelbstaendigAndErwerbstaetig.spec.tsx
  src/components/organisms/einkommen-form/SteuerUndVersicherung.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/rechner/Rechner.spec.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
  src/components/pages/EinkommenPage.spec.tsx
  src/components/pages/ErwerbstaetigkeitPage.spec.tsx
  src/components/pages/NachwuchsPage.spec.tsx
  src/components/pages/RechnerPlanerPage.spec.tsx
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
  src/test-utils/test-utils.tsx
Due: lint

Chore: improve a11y checks and fix a violation
  .eslintrc
  .prettierignore
  src/components/atoms/monatsplaner-month/MonatsplanerMonth.tsx
  src/components/atoms/monatsplaner-month/monatsplaner-month.scss
Due: lint, stylelint

Chore: add auditing of dependency licenses
  .prettierignore
  allowed-licenses
  package-lock.json
  package.json
Due: none

Chore: add CI step to generate and upload SBOM
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
