Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

---
skip_output:
  - meta # Skips lefthook version printing
  - empty_summary # Skips summary heading when there are no steps to run
  - execution # Skips printing any execution logs (but prints if the execution failed)
  - execution_out # Skips printing execution output (but still prints failed commands output)
  - skips # Skips "skip" printing (i.e. no files matched)
pre-commit:
  parallel: true
  commands:
    format:
      run: npx prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint {staged_files}
    type-check:
      run: npm run type-check
    audit-licenses:
      run: npm run audit-licenses
    unused-code:
      run: npm run knip

Build: disable minification in production build
  craco.config.js
Due: lint

Automated deployment to GitHub pages (main | main | 71ebec63aa12c04ee5fd717c1c70b0eb6d67b287)
  main/index.html
  main/static/css/main.34f84388.css
  main/static/css/main.34f84388.css.map
  main/static/css/main.f156f7a1.css
  main/static/css/main.f156f7a1.css.map
  main/static/js/1.8bb0f76e.chunk.js
  main/static/js/1.8bb0f76e.chunk.js.map
  main/static/js/1.c10714e2.chunk.js
  main/static/js/1.c10714e2.chunk.js.map
  main/static/js/496.3a322f2f.chunk.js
  main/static/js/496.3a322f2f.chunk.js.map
  main/static/js/496.66c63145.chunk.js
  main/static/js/496.66c63145.chunk.js.map
  main/static/js/521.c59aa1b2.chunk.js
  main/static/js/521.c59aa1b2.chunk.js.map
  main/static/js/521.d13ca719.chunk.js
  main/static/js/521.d13ca719.chunk.js.map
  main/static/js/623.9369da6a.chunk.js
  main/static/js/623.9369da6a.chunk.js.map
  main/static/js/623.fdc9e420.chunk.js
  main/static/js/623.fdc9e420.chunk.js.map
  main/static/js/630.7beebe73.chunk.js
  main/static/js/630.7beebe73.chunk.js.map
  main/static/js/630.97f7e791.chunk.js
  main/static/js/630.97f7e791.chunk.js.map
  main/static/js/678.c5da4767.chunk.js
  main/static/js/678.c5da4767.chunk.js.map
  main/static/js/678.f0a62d6b.chunk.js
  main/static/js/678.f0a62d6b.chunk.js.map
  main/static/js/81.3df04c9b.chunk.js
  main/static/js/81.3df04c9b.chunk.js.map
  main/static/js/81.f61e16e0.chunk.js
  main/static/js/81.f61e16e0.chunk.js.map
  main/static/js/main.11f02f78.js
  main/static/js/main.11f02f78.js.map
  main/static/js/main.f4966a5f.js
  main/static/js/main.f4966a5f.js.LICENSE.txt
  main/static/js/main.f4966a5f.js.map
Due: lint

Automated deployment to GitHub pages (feature/new-mini-job-limits | feature/new-fit-tests-and-mini-job-limits | 7abb70c12831aeef61581174925644d1c1bf21d6)
  feature/new-mini-job-limits/index.html
  feature/new-mini-job-limits/static/css/main.34f84388.css
  feature/new-mini-job-limits/static/css/main.34f84388.css.map
  feature/new-mini-job-limits/static/css/main.cf3f5f2e.css
  feature/new-mini-job-limits/static/css/main.cf3f5f2e.css.map
  feature/new-mini-job-limits/static/js/1.8bb0f76e.chunk.js
  feature/new-mini-job-limits/static/js/1.8bb0f76e.chunk.js.map
  feature/new-mini-job-limits/static/js/1.ed298f0a.chunk.js
  feature/new-mini-job-limits/static/js/1.ed298f0a.chunk.js.map
  feature/new-mini-job-limits/static/js/496.3a322f2f.chunk.js
  feature/new-mini-job-limits/static/js/496.3a322f2f.chunk.js.map
  feature/new-mini-job-limits/static/js/496.66c63145.chunk.js
  feature/new-mini-job-limits/static/js/496.66c63145.chunk.js.map
  feature/new-mini-job-limits/static/js/521.41afd7c8.chunk.js
  feature/new-mini-job-limits/static/js/521.41afd7c8.chunk.js.map
  feature/new-mini-job-limits/static/js/521.c59aa1b2.chunk.js
  feature/new-mini-job-limits/static/js/521.c59aa1b2.chunk.js.map
  feature/new-mini-job-limits/static/js/623.4b09edca.chunk.js
  feature/new-mini-job-limits/static/js/623.4b09edca.chunk.js.map
  feature/new-mini-job-limits/static/js/623.fdc9e420.chunk.js
  feature/new-mini-job-limits/static/js/623.fdc9e420.chunk.js.map
  feature/new-mini-job-limits/static/js/630.97f7e791.chunk.js
  feature/new-mini-job-limits/static/js/630.97f7e791.chunk.js.map
  feature/new-mini-job-limits/static/js/637.8cf2bd5a.chunk.js
  feature/new-mini-job-limits/static/js/637.8cf2bd5a.chunk.js.map
  feature/new-mini-job-limits/static/js/678.6e8f6245.chunk.js
  feature/new-mini-job-limits/static/js/678.6e8f6245.chunk.js.map
  feature/new-mini-job-limits/static/js/678.c5da4767.chunk.js
  feature/new-mini-job-limits/static/js/678.c5da4767.chunk.js.map
  feature/new-mini-job-limits/static/js/81.f61e16e0.chunk.js
  feature/new-mini-job-limits/static/js/81.f61e16e0.chunk.js.map
  feature/new-mini-job-limits/static/js/930.d4ddf827.chunk.js
  feature/new-mini-job-limits/static/js/930.d4ddf827.chunk.js.map
  feature/new-mini-job-limits/static/js/main.005d9ee3.js
  feature/new-mini-job-limits/static/js/main.005d9ee3.js.map
  feature/new-mini-job-limits/static/js/main.07c97ac1.js
  feature/new-mini-job-limits/static/js/main.07c97ac1.js.LICENSE.txt
  feature/new-mini-job-limits/static/js/main.07c97ac1.js.map
Due: lint

Automated deployment to GitHub pages (feature/new-mini-job-limits/ | feature/new-fit-tests-and-mini-job-limits | a7269e7189e559d4cbe1f6ca86c2d7ba53d0d2d7)
  feature/new-mini-job-limits/index.html
  feature/new-mini-job-limits/static/js/main.005d9ee3.js.map
  feature/new-mini-job-limits/static/js/main.da1e4a42.js
  feature/new-mini-job-limits/static/js/main.da1e4a42.js.map
Due: lint

Fix: print version of planner was not showing your selection (minimal fix)
  src/components/atoms/monatsplaner-month/monatsplaner-month.scss
  src/components/organisms/monatsplaner/monatsplaner.scss
Due: stylelint

Automated deployment to GitHub pages (main | main | cf267208707b70615cbdc74ae7b58915b8a66558)
  main/index.html
  main/static/css/main.08533a12.css
  main/static/css/main.08533a12.css.map
  main/static/css/main.34f84388.css
  main/static/css/main.34f84388.css.map
Due: none

Feat: update wording Mutterschaftsleistungen info text
  src/components/molecules/info-dialog/infoTexts.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 650c4624abfe36a17ceb88b69a6f14b20303788c)
  main/index.html
  main/static/js/main.11f02f78.js.map
  main/static/js/main.5c549b6f.js
  main/static/js/main.5c549b6f.js.map
Due: lint

chore: update icons dependency
  package-lock.json
  package.json
Due: none

chore: fix cannot find types of icons
  tsconfig.json
Due: none

Revert "chore: fix cannot find types of icons"
  tsconfig.json
Due: none

Revert "chore: update icons dependency"
  package-lock.json
  package.json
Due: none

Feat: remove asterisk for required input fields
  src/components/molecules/form-field-group/FormFieldGroup.tsx
  src/components/organisms/page/Page.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 579ad463021d4a9c6cc2900607813d867d568d0d)
  main/index.html
  main/static/js/1.8bb0f76e.chunk.js.map
  main/static/js/1.f872e96d.chunk.js
  main/static/js/1.f872e96d.chunk.js.map
  main/static/js/257.eddb325c.chunk.js
  main/static/js/257.eddb325c.chunk.js.map
  main/static/js/521.7033e7a5.chunk.js
  main/static/js/521.7033e7a5.chunk.js.map
  main/static/js/521.c59aa1b2.chunk.js.map
  main/static/js/597.a898e158.chunk.js
  main/static/js/597.a898e158.chunk.js.map
  main/static/js/623.a49d7536.chunk.js
  main/static/js/623.a49d7536.chunk.js.map
  main/static/js/623.fdc9e420.chunk.js.map
  main/static/js/630.97f7e791.chunk.js.map
  main/static/js/630.b31162db.chunk.js
  main/static/js/630.b31162db.chunk.js.map
  main/static/js/678.2a6b4e4d.chunk.js
  main/static/js/678.2a6b4e4d.chunk.js.map
  main/static/js/678.c5da4767.chunk.js.map
  main/static/js/81.17386c77.chunk.js
  main/static/js/81.17386c77.chunk.js.map
  main/static/js/81.f61e16e0.chunk.js.map
  main/static/js/main.5c549b6f.js
  main/static/js/main.5c549b6f.js.map
  main/static/js/main.e06a5d84.js
  main/static/js/main.e06a5d84.js.map
Due: lint

Feat: add table with months to summary page
  package-lock.json
  package.json
  src/components/atoms/ElterngeldVarianteBadge.tsx
  src/components/atoms/index.ts
  src/components/atoms/print-button/PrintButton.tsx
  src/components/atoms/print-button/index.ts
  src/components/organisms/planungsuebersicht/Elternteil.spec.tsx
  src/components/organisms/planungsuebersicht/Elternteil.tsx
  src/components/organisms/planungsuebersicht/Planungsdetails.tsx
  src/components/organisms/planungsuebersicht/PlanungsdetailsMonth.tsx
  src/components/organisms/planungsuebersicht/PlanungsdetailsTable.tsx
  src/components/organisms/planungsuebersicht/Planungsuebersicht.tsx
  src/components/organisms/planungsuebersicht/index.ts
  src/components/organisms/planungsuebersicht/types.ts
  src/components/organisms/planungsuebersicht/usePlanungsdaten.spec.tsx
  src/components/organisms/planungsuebersicht/usePlanungsdaten.ts
  src/components/pages/ZusammenfassungUndDatenPage.tsx
  src/styles/typo.css
  src/utils/formatZeitraum.ts
  tailwind.config.js
Due: lint

Automated deployment to GitHub pages (main | main | 8059ed3257960784d3cdf63b82866f7afddacfc0)
  main/index.html
  main/static/css/main.08533a12.css.map
  main/static/css/main.b60cf112.css
  main/static/css/main.b60cf112.css.map
  main/static/js/205.9150fc9e.chunk.js
  main/static/js/205.9150fc9e.chunk.js.map
  main/static/js/257.eddb325c.chunk.js.map
  main/static/js/323.16c6572e.chunk.js
  main/static/js/323.16c6572e.chunk.js.map
  main/static/js/597.a898e158.chunk.js.map
  main/static/js/597.aa612b11.chunk.js
  main/static/js/597.aa612b11.chunk.js.map
  main/static/js/630.b31162db.chunk.js
  main/static/js/630.b31162db.chunk.js.map
  main/static/js/81.17386c77.chunk.js.map
  main/static/js/81.8971803a.chunk.js
  main/static/js/81.8971803a.chunk.js.map
  main/static/js/main.0f969b02.js
  main/static/js/main.0f969b02.js.map
  main/static/js/main.e06a5d84.js.map
Due: lint

Build: update Familienportal's stylesheet
  .prettierignore
  .sonarcloud.properties
  package.json
  public/familienportal.css
  public/index.css
  public/index.html
Due: none

Fix: Ausführliche Eingabe is not two columns
  src/components/organisms/einkommen-form/NurErwerbstaetig.tsx
Due: lint

Build: setup app wrapper in development
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  README.md
  build-preview
  package.json
  public/familienportal.css
  public/favicon.ico
  public/index.html
  setup-app-wrapper
Due: none

Build: fix "npm run build" misses wrapper (index.html)
  package.json
Due: none

Build: fix public folder was not removed completely
  public/bundessansweb-bold-ttf-data.ttf
  public/bundessansweb-bold-woff-data.woff
  public/bundessansweb-italic-ttf-data.ttf
  public/bundessansweb-italic-woff-data.woff
  public/bundessansweb-regular-ttf-data.ttf
  public/bundessansweb-regular-woff-data.woff
  public/bundesserifweb-bold-ttf-data.ttf
  public/bundesserifweb-bold-woff-data.woff
  public/bundesserifweb-italic-ttf-data.ttf
  public/bundesserifweb-italic-woff-data.woff
  public/bundesserifweb-regular-ttf-data.ttf
  public/bundesserifweb-regular-woff-data.woff
  public/fpoicon-ttf-data.ttf
  public/fpoicon-woff-data.woff
Due: none

Test: fix reported warnings by React
  src/components/molecules/elternteil/Elternteil.tsx
  src/components/organisms/DatenInAntragUebernehmenButton.tsx
  src/components/organisms/monatsplaner/Monatsplaner.spec.tsx
  src/components/organisms/monatsplaner/Monatsplaner.tsx
Due: lint

Tests: ensure tests use no console
  package-lock.json
  package.json
  src/setupTests.ts
Due: lint

Automated deployment to GitHub pages (main | main | d0ee1b027729e6eba4483e5737798748690ece32)
  main/include.css
  main/include.js
  main/index.html
  main/static/css/main.6045febf.css
  main/static/css/main.6045febf.css.map
  main/static/css/main.b60cf112.css.map
  main/static/js/597.1dd3a120.chunk.js
  main/static/js/597.1dd3a120.chunk.js.map
  main/static/js/597.aa612b11.chunk.js.map
  main/static/js/main.0f969b02.js.map
  main/static/js/main.f45b98bf.js
  main/static/js/main.f45b98bf.js.map
Due: lint

Automated deployment to GitHub pages (main | main | fda3af918bb4759029ba9dc3c681a32653a81cd4)
  main/index.html
  main/static/js/205.8831e4f3.chunk.js
  main/static/js/205.8831e4f3.chunk.js.map
  main/static/js/205.9150fc9e.chunk.js.map
  main/static/js/597.1dd3a120.chunk.js.map
  main/static/js/597.7fd4d88a.chunk.js
  main/static/js/597.7fd4d88a.chunk.js.map
  main/static/js/main.281d9443.js
  main/static/js/main.281d9443.js.map
  main/static/js/main.f45b98bf.js.map
Due: lint

Build: simplify preview generation
  .github/workflows/ci.yml
  package.json
  setup-app-wrapper
Due: none

Automated deployment to GitHub pages (main | main | 690ccc9aa88c66e4e60391131dc4c12da61acc21)
  main/asset-manifest.json
  main/index.html
Due: none

Build: disconnect preloadedState from dev environment
  .env
  src/redux/index.ts
Due: lint

Automated deployment to GitHub pages (main | main | bbfe8450f4bdf29f51d8764f7f74f9fca5d6f37a)
  main/asset-manifest.json
  main/index.html
  main/static/js/main.0b2ad68d.js
  main/static/js/main.0b2ad68d.js.map
  main/static/js/main.281d9443.js.map
Due: lint

Revert "Build: disconnect preloadedState from dev environment"
  .env
  src/redux/index.ts
Due: lint

Automated deployment to GitHub pages (main | main | 5a7f25b692463aea7a9ee1b5d9d347d001a56d30)
  main/asset-manifest.json
  main/index.html
  main/static/js/main.0b2ad68d.js.map
  main/static/js/main.281d9443.js
  main/static/js/main.281d9443.js.map
Due: lint

CI: fix deploy workflow for new build
  .github/workflows/deploy-to-github-pages.yml
Due: none

Feat: improve text for Planungsübersicht
  src/components/organisms/planungsuebersicht/PlanungsdetailsMonth.tsx
  src/components/organisms/planungsuebersicht/PlanungsdetailsTable.tsx
  src/components/organisms/planungsuebersicht/VariantenDetails.tsx
Due: lint

Fix: error placement for custom checkbox
  src/components/molecules/custom-checkbox/CustomCheckbox.tsx
Due: lint

Chore: simply formatting with prettier
  .prettierignore
  CONTRIBUTING.md
  lefthook.yml
  package.json
Due: none

Chore: simplify script pattern for linting
  .eslintignore
  .stylelintrc
  package.json
Due: none

Chore: streamline git hooks with package scripts
  lefthook.yml
  package.json
Due: none

Chore: remove Lefthooks comments in configuration
  lefthook.yml
Due: none

Fix: test spelling after copy renaming
  src/components/organisms/planungsuebersicht/Elternteil.spec.tsx
Due: lint
