Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

---
skip_output:
  - meta # Skips lefthook version printing
  - empty_summary # Skips summary heading when there are no steps to run
  - execution # Skips printing any execution logs (but prints if the execution failed)
  - execution_out # Skips printing execution output (but still prints failed commands output)
  - skips # Skips "skip" printing (i.e. no files matched)
pre-commit:
  parallel: true
  commands:
    format:
      run: npx prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    stylelint:
      glob: "*.scss"
      run: npx stylelint {staged_files}
    type-check:
      run: npm run type-check
    audit-licenses:
      run: npm run audit-licenses
    unused-code:
      run: npm run knip

Feat: update descriptions of Elterngeld variants
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/Example.tsx
  src/components/organisms/elterngeldvarianten/FurtherInformation.tsx
Due: lint

CI: change GitHub authentication strategy
  .github/actions/deploy-to-github-pages/action.yaml
Due: none

Test: fix changed content of variant descriptions
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
Due: lint

CI: add write permissions for deployment
  .github/workflows/ci.yml
Due: none

Automated depoyment to GitHub pages (SHA - 3bed3e98ffdeb0a1cae6fe6d7b88eced780610f4 | main)
  main/index.html
  main/static/css/main.0c072fd5.css
  main/static/css/main.0c072fd5.css.map
  main/static/css/main.c0c1af78.css
  main/static/css/main.c0c1af78.css.map
  main/static/js/637.8cf2bd5a.chunk.js
  main/static/js/637.8cf2bd5a.chunk.js.map
  main/static/js/637.cc56faa7.chunk.js
  main/static/js/637.cc56faa7.chunk.js.map
  main/static/js/81.3df04c9b.chunk.js
  main/static/js/81.3df04c9b.chunk.js.map
  main/static/js/81.9a62f3ae.chunk.js
  main/static/js/81.9a62f3ae.chunk.js.map
  main/static/js/main.2def31da.js
  main/static/js/main.2def31da.js.map
  main/static/js/main.7717ca73.js
  main/static/js/main.7717ca73.js.LICENSE.txt
  main/static/js/main.7717ca73.js.map
  main/static/media/BundesSansCondWeb.1742cc3a00f9cbd3c9fd.woff
  main/static/media/BundesSansCondWeb.97dd581aab715fb95ccc.woff2
  main/static/media/BundesSansWeb-Bold.790a20526e34b5f6ecce.woff
  main/static/media/BundesSansWeb-Bold.c4fc557976b851731ee3.woff2
  main/static/media/BundesSansWeb-BoldItalic.ad0b3fce085aa6bec770.woff
  main/static/media/BundesSansWeb-BoldItalic.d6d6c4fdd48eb365827c.woff2
  main/static/media/BundesSansWeb-Italic.21fc591965c81e774e85.woff2
  main/static/media/BundesSansWeb-Italic.500af22597197f7038d6.woff
  main/static/media/BundesSansWeb-Regular.0c1d6c8bd50a922fbf3b.woff2
  main/static/media/BundesSansWeb-Regular.6806e7d38031810db9a4.woff
  main/static/media/BundesSerifWeb-Bold.486e203e62236d9e0b4c.woff
  main/static/media/BundesSerifWeb-Bold.7bd9397515537e4e2032.woff2
  main/static/media/BundesSerifWeb-BoldItalic.8e8b90e062e636af5d3c.woff2
  main/static/media/BundesSerifWeb-BoldItalic.919906a4427dbc4b1bd6.woff
  main/static/media/BundesSerifWeb-Italic.10af437215934ff49f17.woff
  main/static/media/BundesSerifWeb-Italic.9375051b7db11c92383e.woff2
  main/static/media/BundesSerifWeb-Regular.662c710cc197849d6552.woff
  main/static/media/BundesSerifWeb-Regular.a69b8c4325a556e416ed.woff2
Due: lint

CI: remove base element for deployments
  .github/actions/deploy-to-github-pages/action.yaml
Due: none

Automated depoyment to GitHub pages (SHA - 2f72406cd3cccc8d16cbdc08b34d2942c8dd3505 | main)
  main/index.html
Due: none

CI: add workflow for manual deployments
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: fix typo in workflow configuration
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: remove default path for deployments
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: remove need for deep checkout
  .github/actions/deploy-to-github-pages/action.yaml
  .github/workflows/ci.yml
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: do not deploy if there are on changes
  .github/actions/deploy-to-github-pages/action.yaml
  .github/workflows/ci.yml
Due: none

CI: inline deployment into related workflow
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: integrate re-usable workflows
  .github/actions/deploy-to-github-pages/action.yaml
  .github/workflows/ci.yml
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: better structure for deployment workflow
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: fix syntax in workflow job
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: conditionally build only on deployment
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: fix conditional expression syntax
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: fix typo in action reference name
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: checkout GitHub pages branch right away
  .github/workflows/deploy-to-github-pages.yml
Due: none

Fix: use proper headline tags
  src/components/organisms/elterngeldvarianten/DetailsElterngeldvariante.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/Example.tsx
  src/components/pages/ElterngeldvariantenPage.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 41e9c484ca2892d017f43fa749eb786993eaf171)
  main/index.html
  main/static/css/main.a20425e1.css
  main/static/css/main.a20425e1.css.map
  main/static/css/main.c0c1af78.css
  main/static/css/main.c0c1af78.css.map
  main/static/js/main.7717ca73.js
  main/static/js/main.7717ca73.js.map
  main/static/js/main.f88c2cf8.js
  main/static/js/main.f88c2cf8.js.LICENSE.txt
  main/static/js/main.f88c2cf8.js.map
Due: lint

CI: re-use build for main pipeline
  .github/workflows/ci.yml
Due: none

CI: separate concerns of workflow and shorten
  .github/workflows/ci.yml
Due: none

CI: fix dependency issues in workflow
  .github/workflows/ci.yml
Due: none

CI: fix deployment by extracting archive
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: adapt download artifact extraction file name
  .github/workflows/deploy-to-github-pages.yml
Due: none

Feat: wording update
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.spec.tsx
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
  src/components/organisms/elterngeldvarianten/Example.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 46af1fbeda50edaeeaa40ffc70252247071a5296)
  main/index.html
  main/static/js/main.1d64fe8a.js
  main/static/js/main.1d64fe8a.js.map
  main/static/js/main.4c179424.js
  main/static/js/main.4c179424.js.LICENSE.txt
  main/static/js/main.4c179424.js.map
Due: lint

CI: exclude file from sonar check for duplications
  .sonarcloud.properties
Due: none

Automated depoyment to GitHub pages (SHA - 5c57fd8ae171a349e1edc84557b5554d753406e4 | prototype/new-planner-design-aproach-for-user-testing)
  user-research-prototype/index.html
  user-research-prototype/static/css/main.69080224.css
  user-research-prototype/static/css/main.69080224.css.map
  user-research-prototype/static/css/main.cf3f5f2e.css
  user-research-prototype/static/css/main.cf3f5f2e.css.map
  user-research-prototype/static/js/930.47000100.chunk.js
  user-research-prototype/static/js/930.47000100.chunk.js.map
  user-research-prototype/static/js/930.d4ddf827.chunk.js
  user-research-prototype/static/js/930.d4ddf827.chunk.js.map
  user-research-prototype/static/js/main.07c97ac1.js
  user-research-prototype/static/js/main.07c97ac1.js.LICENSE.txt
  user-research-prototype/static/js/main.07c97ac1.js.map
  user-research-prototype/static/js/main.c46ed57c.js
  user-research-prototype/static/js/main.c46ed57c.js.map
Due: lint

Fix: Familienportal's "contact flap" is overlapping EGR content
  src/styles/typo.css
Due: none

Automated deployment to GitHub pages (main | main | 99a145e874a9eca8703be262895598b9ce821181)
  main/index.html
  main/static/css/main.33d6355b.css
  main/static/css/main.33d6355b.css.map
  main/static/css/main.a20425e1.css
  main/static/css/main.a20425e1.css.map
Due: none

Fix: inconsistent layout
  src/components/organisms/page/page.variables.scss
  src/components/organisms/sidebar/sidebar.variables.scss
  src/globals/scss/variables.scss
Due: stylelint

Automated deployment to GitHub pages (main | main | 227e94cb66233069c6066c200ac3552cf91f7c05)
  main/index.html
  main/static/css/main.33d6355b.css
  main/static/css/main.33d6355b.css.map
  main/static/css/main.e591c350.css
  main/static/css/main.e591c350.css.map
Due: none
