Repository digitalservicebund/elterngeldrechner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: npx eslint {staged_files}

stylelint:
  run: npx stylelint {staged_files}

Fix: gap above sidebar menu on mobile
  src/components/organisms/sidebar/sidebar.scss
Due: stylelint

Automated deployment to GitHub pages (main | main | 94dac5404e12aed5827199f987f70ea71facba6d)
  main/index.html
  main/static/css/main.b3725195.css
  main/static/css/main.b3725195.css.map
  main/static/css/main.e591c350.css
  main/static/css/main.e591c350.css.map
Due: none

CI: fix missing creation of deployment path
  .github/workflows/deploy-to-github-pages.yml
Due: none

CI: fix stupid command flag mistake
  .github/workflows/deploy-to-github-pages.yml
Due: none

Build: disable Tailwind's preflight (= normalize) but keep some base css variables
  src/styles/tailwind.css
  tailwind.config.js
Due: lint

Automated deployment to GitHub pages (main | main | a6ca458dd0f4e2631810cea9fac1b9a28b71e8db)
  main/index.html
  main/static/css/main.83729775.css
  main/static/css/main.83729775.css.map
  main/static/css/main.b3725195.css
  main/static/css/main.b3725195.css.map
Due: none

Automated deployment to GitHub pages (test | feature/new-summary-page | 9d4ee638d5951495308a87a9a8227e45bc52eb1e)
  test/index.html
  test/static/css/main.7caac008.css
  test/static/css/main.7caac008.css.map
  test/static/css/main.c0c1af78.css
  test/static/css/main.c0c1af78.css.map
  test/static/js/637.8cf2bd5a.chunk.js
  test/static/js/637.8cf2bd5a.chunk.js.map
  test/static/js/967.8ae32c7a.chunk.js
  test/static/js/967.8ae32c7a.chunk.js.map
  test/static/js/main.7717ca73.js
  test/static/js/main.7717ca73.js.map
  test/static/js/main.8b2bb5d3.js
  test/static/js/main.8b2bb5d3.js.LICENSE.txt
  test/static/js/main.8b2bb5d3.js.map
Due: lint

CI: upgrade artifact actions to version 4
  .github/workflows/ci.yml
  .github/workflows/deploy-to-github-pages.yml
Due: none

Automated deployment to GitHub pages (feature/new-summary-page | feature/new-summary-page | 9c5f47f07b2c0c9480a22556e429dc31bb6d4907)
  feature/new-summary-page/index.html
  feature/new-summary-page/static/css/main.7caac008.css
  feature/new-summary-page/static/css/main.7caac008.css.map
  feature/new-summary-page/static/css/main.c5610347.css
  feature/new-summary-page/static/css/main.c5610347.css.map
  feature/new-summary-page/static/js/630.7beebe73.chunk.js
  feature/new-summary-page/static/js/630.7beebe73.chunk.js.map
  feature/new-summary-page/static/js/967.8ae32c7a.chunk.js
  feature/new-summary-page/static/js/967.8ae32c7a.chunk.js.map
  feature/new-summary-page/static/js/main.7f355f9b.js
  feature/new-summary-page/static/js/main.7f355f9b.js.LICENSE.txt
  feature/new-summary-page/static/js/main.7f355f9b.js.map
  feature/new-summary-page/static/js/main.8b2bb5d3.js
  feature/new-summary-page/static/js/main.8b2bb5d3.js.map
Due: lint

Fix: input fields don't fit next to each other
  src/components/molecules/custom-input/custom-input.scss
Due: stylelint

Feat: wording change
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
  src/components/pages/AllgemeineAngabenPage.spec.tsx
Due: lint

Feat: update wording
  src/components/organisms/elterngeldvarianten/ElterngeldvariantenDescriptions.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 8bf6aebeaac6d13bcb96d46eff63201f151634eb)
  main/index.html
  main/static/css/main.6e6c0632.css
  main/static/css/main.6e6c0632.css.map
  main/static/css/main.83729775.css
  main/static/css/main.83729775.css.map
  main/static/js/main.4c179424.js
  main/static/js/main.4c179424.js.map
  main/static/js/main.65d6e723.js
  main/static/js/main.65d6e723.js.LICENSE.txt
  main/static/js/main.65d6e723.js.map
Due: lint

CI: fix path
  .github/workflows/release.yml
Due: none

CI: move tracking secret to release pipeline
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Automated deployment to GitHub pages (main | main | 2ba9f33e84e038b93e464df1e8b7f2a86160f79d)
  main/index.html
  main/static/js/main.65d6e723.js
  main/static/js/main.65d6e723.js.map
  main/static/js/main.c1239db4.js
  main/static/js/main.c1239db4.js.LICENSE.txt
  main/static/js/main.c1239db4.js.map
Due: lint

Feat: for development: add url param to display all pages at once below each other
  src/applications/App.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 404209ef5eb92c1c39157876ea7559d3cc40cb59)
  main/index.html
  main/static/js/main.97c19e7e.js
  main/static/js/main.97c19e7e.js.LICENSE.txt
  main/static/js/main.97c19e7e.js.map
  main/static/js/main.c1239db4.js
  main/static/js/main.c1239db4.js.map
Due: lint

Feat: add info box for Mutterschaftsleitungen
  src/components/molecules/info-dialog/InfoDialog.tsx
  src/components/molecules/info-dialog/info-dialog.scss
  src/components/molecules/info-dialog/infoTexts.tsx
  src/components/organisms/allgemeine-angaben-form/AllgemeineAngabenForm.tsx
Due: lint, stylelint

Refactor: cleanup into texts
  src/components/molecules/info-dialog/infoTexts.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 2097b6d1ad2265ff7cfc3beab9709114439bcc1a)
  main/index.html
  main/static/css/main.1e9b68df.css
  main/static/css/main.1e9b68df.css.map
  main/static/css/main.6e6c0632.css
  main/static/css/main.6e6c0632.css.map
  main/static/js/main.0d732adc.js
  main/static/js/main.0d732adc.js.LICENSE.txt
  main/static/js/main.0d732adc.js.map
  main/static/js/main.97c19e7e.js
  main/static/js/main.97c19e7e.js.map
Due: lint

CI: debug release pipeline manually
  .github/workflows/release.yml
Due: none

CI: add artifact upload for debugging purpose
  .github/workflows/release.yml
Due: none

CI: fix upload of debug artifact
  .github/workflows/release.yml
Due: none

Revert "CI: fix upload of debug artifact"
  .github/workflows/release.yml
Due: none

Revert "CI: add artifact upload for debugging purpose"
  .github/workflows/release.yml
Due: none

Revert "CI: debug release pipeline manually"
  .github/workflows/release.yml
Due: none

Chore: remove dead code
  src/components/organisms/einkommen-form/EinkommenFormElternteil.tsx
  src/components/organisms/einkommen-form/NurSelbstaendig.tsx
  src/redux/stepNachwuchsSlice.ts
Due: lint

Refactor: partially use actual Date for birthdate
  src/monatsplaner/lebensmonate/lebensmonate.spec.ts
  src/monatsplaner/lebensmonate/lebensmonate.ts
  src/redux/persoenlicheDatenFactory.ts
  src/redux/stepNachwuchsSlice.ts
Due: lint

Feat: add re-usable badge for Elterngeldvarianten
  src/components/atoms/ElterngeldVarianteBadge.tsx
Due: lint

Feat: add visual components for new summary
  src/components/organisms/planungsuebersicht/Elternteil.spec.tsx
  src/components/organisms/planungsuebersicht/Elternteil.tsx
  src/components/organisms/planungsuebersicht/VariantenDetails.tsx
  src/components/organisms/planungsuebersicht/types.ts
Due: lint

Feat: add hook to gather data for summary page
  package-lock.json
  package.json
  src/components/organisms/planungsuebersicht/usePlanungsdaten.spec.tsx
  src/components/organisms/planungsuebersicht/usePlanungsdaten.ts
  src/test-utils/test-utils.tsx
Due: lint

Feat: put together new summary page
  src/components/organisms/planungsuebersicht/Planungsuebersicht.tsx
  src/components/organisms/planungsuebersicht/index.ts
  src/components/pages/ZusammenfassungUndDatenPage.tsx
Due: lint

Feat: shim down former summary page to button
  src/components/molecules/index.scss
  src/components/molecules/index.ts
  src/components/molecules/zusammenfassung-und-daten-allgemein/ZusammenfassungUndDatenAllgemein.tsx
  src/components/molecules/zusammenfassung-und-daten-allgemein/index.scss
  src/components/molecules/zusammenfassung-und-daten-allgemein/index.ts
  src/components/molecules/zusammenfassung-und-daten-allgemein/zusammenfassung-und-daten-allgemein.scss
  src/components/molecules/zusammenfassung-und-daten-allgemein/zusammenfassung-und-daten-allgemein.variables.scss
  src/components/molecules/zusammenfassung-und-daten-elternteil/ZusammenfassungUndDatenElternteil.tsx
  src/components/molecules/zusammenfassung-und-daten-elternteil/index.scss
  src/components/molecules/zusammenfassung-und-daten-elternteil/index.ts
  src/components/molecules/zusammenfassung-und-daten-elternteil/zusammenfassung-und-daten-elternteil.scss
  src/components/molecules/zusammenfassung-und-daten-elternteil/zusammenfassung-und-daten-elternteil.variables.scss
  src/components/organisms/DatenInAntragUebernehmenButton.tsx
  src/components/organisms/index.scss
  src/components/organisms/zusammenfassung-und-daten/ZusammenfassungUndDaten.tsx
  src/components/organisms/zusammenfassung-und-daten/index.scss
  src/components/organisms/zusammenfassung-und-daten/index.ts
  src/components/organisms/zusammenfassung-und-daten/zusammenfassung-und-daten.scss
  src/components/organisms/zusammenfassung-und-daten/zusammenfassung-und-daten.variables.scss
Due: lint, stylelint

Feat: add back data transfer to summary page
  src/components/pages/ZusammenfassungUndDatenPage.spec.tsx
  src/components/pages/ZusammenfassungUndDatenPage.tsx
Due: lint

Automated deployment to GitHub pages (main | main | 97af3b645e2dd2b94102cd9cce7862c40b01cab4)
  main/index.html
  main/static/css/main.1e9b68df.css
  main/static/css/main.1e9b68df.css.map
  main/static/css/main.f156f7a1.css
  main/static/css/main.f156f7a1.css.map
  main/static/js/630.7beebe73.chunk.js
  main/static/js/630.7beebe73.chunk.js.map
  main/static/js/637.8cf2bd5a.chunk.js
  main/static/js/637.8cf2bd5a.chunk.js.map
  main/static/js/main.0d732adc.js
  main/static/js/main.0d732adc.js.map
  main/static/js/main.40c98753.js
  main/static/js/main.40c98753.js.LICENSE.txt
  main/static/js/main.40c98753.js.map
Due: lint

Fix: parsing of German date string
  src/utils/locale-formatting.ts
Due: lint

Automated deployment to GitHub pages (main | main | 536899061aa82984759f3722b7319e4f263477e1)
  main/index.html
  main/static/js/main.40c98753.js
  main/static/js/main.40c98753.js.map
  main/static/js/main.f4966a5f.js
  main/static/js/main.f4966a5f.js.LICENSE.txt
  main/static/js/main.f4966a5f.js.map
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
